<!DOCTYPE html>
<html>
  <head>
    <title>Chat App</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <h1>ChatApp</h1>
    </header>

    <%= yield %>

  </body>
</html>
